<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs")%>
        
    

        <main class="main">
            <%- include("../partials/bannerTop.ejs")%>
            <section class="container">
               
                    <article>
                        
                        <div class="main-articleDetail">                                                   
                            <img src="/images/products/<%= products.image ? products.image : 'default.png' %>" alt="p1" class="product_img">
                        </div>     

                    </article>
            </section>
            <%- include("../partials/bannerBottom.ejs")%>

        </main>

      
        <%- include("../partials/footer.ejs")%>
        
    

    </body>
</html>