<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs")%>
        
    

        <main class="main">
            <%- include("../partials/bannerTop.ejs")%>
            <section class="containerEdit">
                
                <form action="/products/<%= product.product_id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <input size="40" type="text" name="name" value="<%= product.name %>" style="border-radius: 5px;">
                    <br>
                    <br>
                    <textarea name="description" id=""  cols="33" rows="5"  style="border-radius: 5px;"><%= product.description %></textarea>
                    <br>
                    <br>
                    <h4>Foto de producto</h4>
                    
                    <input type="file" name="image" style="border-radius: 5px;" value="<%= product.image %>">
                    <br>
                    <br>

                    </div>
    
                    <h4>Categoría</h4>
                    <div class="categ">
                        <div>
                            <input type="checkbox"  name="category" value="1" id="a" <%= product.id_category == 1 ? 'checked' : ''; %>>
                            <label for="a">Guitarra</label>
                        </div>
                        <div>
                            <input type="checkbox" name="category" value="2" id="b"<%= product.id_category == 2 ? 'checked' : ''; %>>
                            <label for="b">Bajo</label>
                        </div>
                        <div>
                            <input type="checkbox" name="category" value="3" id="c"<%= product.id_category == 3 ? 'checked' : ''; %>>
                            <label for="c">Batería</label>
                        </div>
                        <div>
                            <input type="checkbox" name="category" value="4" id="d"<%= product.id_category == 4 ? 'checked' : ''; %>>
                            <label for="d">Saxo</label>
                        </div>
                        <div>
                            <input type="checkbox" name="category" value="5" id="e" <%= product.id_category == 5 ? 'checked' : ''; %>>
                            <label for="e">Accesorios</label>
                        </div>
                        <div>
                            <input type="checkbox" name="category" value="6" id="e" <%= product.id_category == 5 ? 'checked' : ''; %>>
                            <label for="e">Microfono</label>
                        </div>
                    </div>
                    
                    <br>
                    <br>

                    <input size="40" type="text" name="brand" value="<%= product.id_brand %>" style="border-radius: 5px;">
                    <br>
                    <br>
                    <input type="number" step="any"  name="price" min="1" value="<%= product.price %>" style="border-radius: 5px;">
                    <input type="number" step="any"  name="discount" min="0" max="100" value="<%= product.discount %>" style="border-radius: 5px;">
                    <br>
                    <br>
                    <div class="editButtons">
                    <input class="editButton" type="submit" value="Editar" >

                    </div>
                    <br>
                    <br>
                </form>

            </section>
            <%- include("../partials/bannerBottom.ejs")%>

        </main>

      
        <%- include("../partials/footer.ejs")%>
        
    

    </body>
</html>