<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs")%>
        
    

        <main class="main">
            <%- include("../partials/bannerTop.ejs")%>
            <section class="container">
               
                    <div class="productDetail">
                    <article>
                        
                        <div class="main-articleDetail">                                                   
                            <img src="/images/products/<%= product.image ? product.image : 'default.png' %>" alt="p1" class="product_img">
                            <i class="fas fa-music"></i>
                            <p class="price"><%= product.price %></p>
                            <p class="finalPrice"><%= product.finalPrice %></p>
                            <p class="discount"><%= product.discount %> off</p>
                        </div>     
                        <div class="main-articleDetail">
                            <h4 class="description"><%= product.name %></h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                            <p class="descriptionLarge"><%= product.description %></p>
                        </div>   
                        <div>
                            <a href="../productEdit/<%= product.id %>"><button>Modificar</button></a> 
                            
                        </div>      
                    </article>
            </section>
            <%- include("../partials/bannerBottom.ejs")%>

        </main>

      
        <%- include("../partials/footer.ejs")%>
        
    

    </body>
</html>