<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs")%>
        
    

        <main class="main">
            <%- include("../partials/bannerTop.ejs")%>
            <section class="container">
                <article>
                    <div class="cartDetail">
                       
                        <div class="imgCart"> 
                            <img src="../images/Producto-1.jpg" alt="p1" class="product_img">
                        </div>     
                        <div class="cartDescription">
                            <div class="cartDescriptionName">   
                                <h4 class="descriptionCart">Descripcion</h4>
                                <i class="far fa-trash-alt"></i> 
                            </div>  

                            <div class="cartDescriptionValue">                                  
                                <p class="priceCart">$6.770</p>
                                <p class="discountCart">10% off</p>
                                <p class="finalPriceCart">$6.093</p>
                                <input class="qtyCart" type="number" step="1">
                            </div> 
                        </div>
                    </div>
                        
                    <div class="cartResume">
                        <h2>Resumen de la compra</h2>
                        <h5>Subtotal</h5>
                        <h5 class="cartValue">$6.770</h5>
                        <h5>Descuentos</h5>
                        <h5 class="cartValue">$677</h5>
                        <h5>costo de envío</h5>
                        <h5 class="cartValue">$0</h5>
                        <h4>Total</h4>
                        <h4 class="cartValue">$6.093</h4>
                        <div class="resumeButton">
                            <input type="button" value="Finalizar Compra">
                        </div>        
                    </div>
                </article>    
            </section>

            <%- include("../partials/bannerBottom.ejs")%>

        </main>

      
        <%- include("../partials/footer.ejs")%>
        
    

    </body>
</html>