<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs")%>
        
    

        <main class="main">
            <%- include("../partials/bannerTop.ejs")%>
            <section class="container">
                
                    <div class="productDetail">
                    <article>
                        
                        <div class="main-articleDetail">                                                   
                            <img src="/images/products/<%= products.image ? products.image : 'default.png' %>" alt="p1" class="product_img">
                            <i class="fas fa-music"></i>
                            <% if (products.discount > 0){ %>
                            <p class="price">$ <%= Math.round(products.price) %></p>
                            <% } %> 
                            <p class="finalPrice">$ <%= products.price - products.price * products.discount / 100 %></p>
                            <% if (products.discount > 0){ %>
                            <p class="discount"><%= products.discount %>% off</p>
                            <% } %> 
                        </div>     
                        <div class="main-articleDetail">
                            <h4 class="description-detail"><%= products.name %></h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                            <h5 class="descriptionLarge"><%= products.description %></h5>
                            <p class="category"><%= products.productCategory.name %></p>
                            <p class="brand"><%= products.productBrand.name %></p>
                        </div>   
                        <% if(locals.isLogged){%>
                            <% if(locals.userLogged.id_category == 1){%>
                                <div>
                                    <a href="../productEdit/<%= products.product_id %>" ><button class="modifyButton">Modificar </button></a> 
                                    <form  action="/products/<%= products.product_id %>?_method=delete" method="POST">
                                        <button class="deleteProductButton">  Borrar  </button>
                                    </form>
                                </div>      
                            <% } %>
                        <% } %>
                    </article>
            </section>
            <%- include("../partials/bannerBottom.ejs")%>

        </main>

      
        <%- include("../partials/footer.ejs")%>
        
    

    </body>
</html>