<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs")%>
        
    

        <main class="main">
            <%- include("../partials/bannerTop.ejs")%>
            <section class="container">
                <br>
                <div class="tutorial">
                    <h3 class="titleTutorial">Como afinar tu Guitarra.</h3>
                    <iframe width="280" height="157.5" src="https://www.youtube.com/embed/EOpl9W3xCY0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="tutorial">
                    <h3 class="titleTutorial">Como afinar tu Bajo.</h3>
                    <iframe width="280" height="157.5" src="https://www.youtube.com/embed/2-N-C03REDM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="tutorial">
                    <h3 class="titleTutorial">Como limpiar tu Saxofon.</h3>
                    <iframe width="280" height="157.5" src="https://www.youtube.com/embed/xpBkgi5OLKQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="tutorial">
                    <h3 class="titleTutorial">Como armar tu batería eléctrica.</h3>
                    <iframe width="280" height="157.5" src="https://www.youtube.com/embed/vCKHhsxXnNA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>


            </section>
            <%- include("../partials/bannerBottom.ejs")%>

        </main>

      
        <%- include("../partials/footer.ejs")%>
        
    

    </body>
</html>