<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs")%>
        
    

        <main class="main">
            <%- include("../partials/bannerTop.ejs")%>
            <section class="container">
                
                <form action="/" method="POST">
                    <input type="text" name="user" placeholder="Nombre de usuario" style="border-radius: 5px;">
                    <input type="password" name="pass" placeholder="Elegí tu contraseña" style="border-radius: 5px;">
                    <input type="submit" value="Enviar" style="border-radius: 5px;">
                </form>
                
            </section>
            <%- include("../partials/bannerBottom.ejs")%>

        </main>


      
        <%- include("../partials/footer.ejs")%>
        
    

    </body>
</html>