<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs")%>
        
    

        <main class="main">
            <%- include("../partials/bannerTop.ejs")%>
            <section class="containerRegister">
                <form action="/users" method="POST" enctype="multipart/form-data">
                    <input type="text" name="first_name" placeholder="Ingrese su Nombre" style="border-radius: 5px;">
                    <input type="text" name="last_name" placeholder="Ingrese su Apellido" style="border-radius: 5px;">
                    <br>
                    <br>
                    <input type="email" name="email" placeholder="E-mail" style="border-radius: 5px;" size="40">
                    <br>
                    <br>
                    <input type="password" name="pass" placeholder="Elegí tu contraseña" style="border-radius: 5px;">
                    <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña" style="border-radius: 5px;">
                    <br>
                    <br>
                    <!-- <label for="birth_date"><b>Fecha de nacimiento</b></label> -->
                    <!-- <br>
                    <input type="date" name="birth_date" id="birth_date" style="border-radius: 5px;">
                    <br>
                    <br> -->
                    <!-- <input type="text" name="addres" placeholder="Domicilio" style="border-radius: 5px;" size="40">
                    <br>
                    <br> -->
                    <h4>Categoría</h4>
                    <div class="categ">
                        <div>
                            <input type="checkbox" name="category" value="user" >
                            <label for="a">Usuario</label>
                        </div>
                        <div>
                            <input type="checkbox" name="category" value="admin" >
                            <label for="b">Administrador</label>
                        </div>

                    </div>
                    


                    <h4>Elegí tu foto de usuario</h4>
                    <input type="file" name="image" style="border-radius: 5px;">
                    <br>
                    <br>
                    <div class="registerButtons">
                        <input class="registerButton" type="submit" value="Crear" >
                        <input class="deleteButton" type="reset" value="Borrar" >
                    </div>
                    <br>
                    <br>
                </form>
            </section>
            <%- include("../partials/bannerBottom.ejs")%>

        </main>

      
        <%- include("../partials/footer.ejs")%>
        
    

    </body>
</html>