<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs")%>
        
    

        <main class="main">
            <%- include("../partials/bannerTop.ejs")%>
            <section class="containerRegister">
                <form action="/users/<%= user.user_id %>?_method=PUT" id="formEdit" method="POST" enctype="multipart/form-data">
                    <input type="text" id="name" name="first_name" value="<%= user.first_name %>" style="border-radius: 5px;"
                    class= "<%= locals.errors && errors.first_name ? 'is-invalid' : null %>">
                    <% if (locals.errors && errors.first_name) { %>
                        <div class="text-danger">
                            <%= errors.first_name.msg %>
                        </div>        
                    <% } %>

                    <input type="text" id="lastName" name="last_name" value="<%= user.last_name %>" style="border-radius: 5px;"
                    class= "<%= locals.errors && errors.last_name ? 'is-invalid' : null %>">
                    <% if (locals.errors && errors.last_name) { %>
                        <div class="text-danger">
                            <%= errors.last_name.msg %>
                        </div>        
                    <% } %>
                    <br>
                    <br>
                    <input type="email" id="email" name="email" value="<%= user.email %>" style="border-radius: 5px;" size="40"
                    class= "<%= locals.errors && errors.email ? 'is-invalid' : null %>">
                    <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>        
                    <% } %>
                    <br>
                    <br>
                    <input type="password" id="password" name="password" placeholder="ingresá tu contraseña" style="border-radius: 5px;"
                    class= "<%= locals.errors && errors.password ? 'is-invalid' : null %>">
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>        
                    <% } %>

                    <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña" style="border-radius: 5px;"
                    class= "<%= locals.errors && errors.password ? 'is-invalid' : null %>">
                    
                    <br>
                    <br>
                    <input type="text" id="address" name="address" value="<%= user.address %>" style="border-radius: 5px;"
                    class= "<%= locals.errors && errors.address ? 'is-invalid' : null %>">
                    <% if (locals.errors && errors.address) { %>
                        <div class="text-danger">
                            <%= errors.address.msg %>
                        </div>        
                    <% } %>

                    <input type="text" id="tel" name="tel" value="<%= user.tel %>" style="border-radius: 5px;"
                    class= "<%= locals.errors && errors.tel ? 'is-invalid' : null %>">
                    <% if (locals.errors && errors.tel) { %>
                        <div class="text-danger">
                            <%= errors.tel.msg %>
                        </div>        
                    <% } %>

                    <br>
                    <br>  
                    
                    <% if(locals.isLogged){%>
                        <% if(locals.userLogged.id_category == 1){%>
                            <h4>Categoría</h4>
                        

                        <div class="categ">
                            <div>
                                <input type="radio"  name="id_category" value="2" <%= user.id_category == 2 ? 'checked' : ''; %>>
                                <label for="a">Usuario</label>
                            </div>
                            <div>
                                <input type="radio" name="id_category" value="1" <%= user.id_category == 1 ? 'checked' : ''; %> >
                                <label for="b">Administrador</label>
                            </div>

                        </div>
                        <br>
                        <br>

                        <% }else{ %>
                            <input type="hidden" name="id_category" value= "2"  > 
                        <% } %>
                    <% } %>
                    
                   

                    <h4>Elegí tu foto de usuario</h4>
                    <input type="file" id="image" name="image" style="border-radius: 5px;">
                    <input type="hidden" name="oldImage" value= "<%= user.image %>" style="border-radius: 5px;">
                    <% if (locals.errors && errors.image) { %>
                        <div class="text-danger">
                            <%= errors.image.msg %>
                        </div>        
                    <% } %>
                    <br>
                    <br>    
                    <br>
                    <br>                    <br>
                    <br>               
                    <div >
                        <input class="editUserButton" type="submit" value="Editar" >
                    </div>

                </form>
                <form  action="/users/<%= user.user_id %>?_method=delete" method="POST">
                    <button class="deleteUserButton">  Borrar  </button>
                </form>

               

            </section>
            <%- include("../partials/bannerBottom.ejs")%>

        </main>


      
        <%- include("../partials/footer.ejs")%>
        
    

    </body>
</html>