<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs")%>
        
    

        <main class="main">

            <section class="container">
                <h3 class="productosDestacados">Listado de Usuarios</h3>
                <div class="users">
                    <% users.forEach(users=> { %>
                    <article class="userArticle" >     
                        
                        
                            <div class="userDivImg"> 
                               <img src="../images/users/<%= users.image ? users.image : 'default.png' %>" alt="p1" class="userImg"></a>
                            </div>    
                            <div class="userInfo">
                                <p > Nombre: <%= users.first_name %></p>
                                <p > Apellido: <%= users.last_name %></p>
                                <p > Email: <%= users.email %></p>
                                <p > Password: <%= users.password %></p>
                                <p > Categoría: <%= users.id_category == 1 ? 'Administrador' : 'Usuario' %></p>
                            </div>

                            <div class="editButtons">
                                <a href="../users/userEdit/<%= users.user_id %>" ><button class="userEditButton" >Modificar </button></a> 
                            </div>
                                               
                       
                        
                    </article>
                    <% }) %> 
    
                </div>

            </section>  
                
            </section>
            <%- include("../partials/bannerBottom.ejs")%>

        </main>


      
        <%- include("../partials/footer.ejs")%>
        
    

    </body>
</html>