<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head.ejs")%>

    <body>
        <%- include("partials/header.ejs")%>
        
    

        <main class="main">
            <%- include("partials/bannerTop.ejs")%>
            <section class="container">
                <h3 class="productosDestacados">Productos destacados</h3>
                <div class="products">
                    <article>
                        <a href="../products/productDetail"><img src="images/Producto-1.jpg" alt="p1" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                            
                            
                        </div>                        
                    </article>
                    <article>
                        <a href="../products/productDetail"><img src="images/Producto-2.jpg" alt="p2" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>                    
                    <article>
                        <a href="../products/productDetail"><img src="images/Producto-3.jpg" alt="p3" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>                    
                    <article>
                        <a href="../products/productDetail"><img src="images/Producto-4.jpg" alt="p4" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>                    
                    <article>
                        <a href="../products/productDetail"><img src="images/Producto-5.jpg" alt="p5" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>                    
                    <article>
                        <a href="../products/productDetail"><img src="images/Producto-6.jpg" alt="p6" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>                    
                    <article>
                        <a href="../products/productDetail"><img src="images/Producto-7.jpg" alt="p7" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>                   
                    <article>
                        <a href="../products/productDetail"><img src="images/Producto-8.jpg" alt="p8" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>
                    <article>
                        <a href="../products/productDetail"><img src="images/Producto-9.jpg" alt="p9" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>
                    <article>
                        <a href="../products/productDetail"><img src="images/Producto-10.jpg" alt="p10" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>
                    <article>
                        <a href="../products/productDetail"><img src="images/Producto-11.jpg" alt="p11" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>
                    <article>
                        <a href="../products/productDetail"><img src="images/Producto-12.jpg" alt="p12" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>


                </div>
            </section>
            <%- include("partials/bannerBottom.ejs")%>

        </main>

      
        <%- include("partials/footer.ejs")%>
        
    

    </body>
</html>